.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FEFEFE;
}

.App .content {
  flex: 1;
  overflow: hidden;
  padding-bottom: 100px;
}

.App .am-navbar {
  background-color: #F3494A;
}